* {
  box-sizing: border-box;
}
/* Navbar */
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

#timer {
  float: right;
  color: black;
  text-align: center;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}

ul.navbar li a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.navbar li a:hover {
  background-color: purple;
}

@media screen and (max-width: 600px) {
  ul.navbar li #timer,
  ul.navbar li.active {
    float: none;
  }
}

/* CSS for question container and buttons */
#container {
  margin: 0 auto;
  width: 500px;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.buttons {
  display: grid;
  gap: 10px;
  margin: 20px 0;
}
#btn:hover {
  background-color: violet;
  cursor: pointer;
}
.hide {
  display: none;
}

.correct {
  background-color: green;
}
.wrong {
  background-color: red;
}
